/*Login*/

.login {
    width: 70%;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.login h1 {
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.login p {
    color: #cccccc;
    font-size: 20px;
    font-family: "Quicksand", serif;
    text-align: center; 
    margin: 0;
    padding: 2px;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    color: #cccccc;
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 110%;
    height: 50px;
    border: 3px solid white;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: black;
    color: white;

    font-family: quicksand;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: #18122B;
    color: #5800ca;
    font-size: 1.2em;
}

/* phony */
@media screen and (max-width: 768px) {
    .login {
        width: 95%;
    }

    .form-group input, button {
        font-size: 14px;
    }
}
